@model DealsAllAround.Data.UserProvider
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.confirmpassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.confirmpassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
 


@*<form action="http://localhost" method="post" id="register1">
    <div class="text">Its Time To Register</div>
    <br /><br />
    <div class="row">
        <div class="col-md-6 col-md-offset-4">          
            <input class="form-control" id="Email" name="email" type="email" placeholder="Email Address" required /> <br />
         </div>
        <div class="col-md-6 col-md-offset-4">
            <input class="form-control" id="phone1" name="phone" type="number" placeholder="Phone Number" required /> <br />
        </div>
        <div class="col-md-6 col-md-offset-4">
            <input class="form-control" id="brand1" name="brand" type="text" placeholder="Brand Name" required /> <br />
         </div>
        <div class="col-md-6 col-md-offset-4">
            <textarea class="form-control" id="address" type="text" rows="3" placeholder="Address" required> </textarea> <br />
            </div>
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-info center-block center-block" id="contact1" type="submit" value="Register Now">Register Now </button>
        </div>
    </div>
</form>*@
